nav {
    max-width: 1280px;
    height: 100px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: white;
    padding-block: 16px;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media screen and (max-width: 600px) {
    .hamburguer {
        display: block;
        z-index: 1;
    }

    .nav-list {
        background-color: #c5ab7afb;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        clip-path: circle(100px at 90% -30%);
        transition: 1s ease-out;


        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        pointer-events: none;
    }

    .nav-list a {
        padding: 10px;
        font-size: 24px;
        opacity: 0;
        border-radius: 10px;
    }

    .nav-list a:hover {
        background-color: #000000d7;
    }


    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(5) a {
        transition: 0.5s 0.2s;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburguer {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

.servicos-item {
    position: relative;
    overflow: hidden;
}

.servicos-item img,
.servicos-item h1,
.servicos-item hr {
    opacity: 1;
    transform: translateY(150px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.servicos-item p {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.servicos-item:hover img,
.servicos-item:hover h1,
.servicos-item:hover hr,
.servicos-item:hover p {
    opacity: 1;
    transform: translateY(0);
}